html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 600px;
  border-radius: 3px;
  padding: 10px;
}

strong {
  background-color:#ffed464b;
}

p {
  margin-bottom: 8px;
  background-color: #fcf9f9;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

h1, h2, h3, h4, h5, h6, a, a:visited {
  color: #545555;
}

h1 {
  font-size: 35px;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(145, 165, 255, 0.158);
  padding: 20px 10px 10px 0px;
  border-radius: 10px;
}

h2 {
  font-size: 22px;
}

a, a:visited {
  color: #7f91df;
  /* Remove underline from links */
  text-decoration: none; 
}

a:hover {
  /* Hovering over link applies different color and underlines it */
  color: #5b72d6;
  text-decoration: underline;
}

li {
  list-style-position: outside;
  padding: 0px 0px 10px 20px;
  }

#ingredients li {
  list-style-position: inside;
  background-color: rgba(255, 136, 219, 0.048);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

/* Replace bullet points with cupcake image 
  background: url('../images/cupcake-bullet.png') no-repeat left center;
  list-style: none; */



/* Replace bullet points with cupcake image
  background: url('../images/chainlink.png') no-repeat;
  list-style: none; */

img {
  border:#5b71d649 5px solid;
  border-radius: 10px;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  max-width: 600px;
  text-align: center;
}

nav {
  border-bottom: 1px solid #bbb;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 10px;
}

.crumb {
  display: inline-block;
  padding: 0px;
}

.crumb a::after {
  display: inline-block;
  color: #000;
  content: '>';
  font-size: 80%;
  font-weight: bold;
  padding: 0 10px 0 10px ;
}

.sources {
  list-style: none;
  background-color: rgba(145, 165, 255, 0.158);
  padding: 20px 10px 10px 0px;
  border-radius: 10px;
}

/* Color palette (from Coolors)
https://coolors.co/91a6ff-ff88dc-faff7f-ffffff-ff5154
--vista-blue: #91a6ffff;
--persian-pink: #ff88dcff;
--icterine: #faff7fff;
--white: #ffffffff;
--bittersweet: #ff5154ff;
*/
